@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	box-sizing: border-box;

	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
    background-color: blanchedalmond;
}

.btn {
    background-color: white;
    color: black;
    text-decoration: none;
    padding: 1em;
    border-radius: 5%;
    display: inline-block;
    margin: .8em;
    margin-left: 10rem;
    font-family: sans-serif;
    
}

.btn:hover,
.btn:active,
.btn:focus {
    background-color: lavenderblush;    
}

.btn i {
    vertical-align: middle;
    font-size: 2.5em;
    color: #505050;  
}

h1 {
    font-family: 'Cookie', cursive;
    font-size: 5em; 
    text-align: center;
    padding-top: 2em;
}

p {
    font-family: sans-serif;
    font-size: 1.5em;
    color: grey;
    text-align: center;
}
